body{
    font-family:
        "Georgia";
color:rgb(48, 32, 21);
background-color:rgb(241, 234, 223)
}
nav{
    font-family:
        "Verdana";
    color:rgb(169, 64, 29);
}
main{
    font-family:
        "Verdana";
    color:rgb(107, 60, 45);
}